header.fixed {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: var(--blur-color);
    backdrop-filter: blur(15px);
    width: 100%; 
    z-index: 999;
}
header.fixed .hea-content { 
    min-width: 320px; 
    max-width: 700px; 
    width: 100%; 
    padding: 0px 10px 0px 10px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.hea-content a {
    color: var(--txt-color-def);
}
.hea-content .rside span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-text-color-alt);
    border: 1px solid var(--dark-text-color-alt);
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 692px){
    header.fixed {height: 60px;}
    header .brand{
        font-size: var(--fz-normal); 
        letter-spacing: 2.5px;
    }
    header .menu {
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 5px;
        width: 145px;
        display: none;
        line-height: 40px;
        text-align: center;
        flex-direction: column;
        border: 1px solid var(--dark-text-color-alt);
        background: var(--dark-back-def);
        border-radius: 12px;
    }
    .hea-content .rside .toggleBtn {
        display: flex;
    }
    .hea-content .lside .menu a {
        text-decoration: none;
        text-transform: capitalize;
    }
    .hea-content .lside .menu a:hover {text-decoration: underline;}
}
@media screen and (min-width: 766px){
    .hea-content .lside .menu a {
        margin: 5px;
        text-decoration: none;
        text-transform: capitalize;
    }
    .hea-content .lside .menu a:nth-child(1) {
        display: none;
    }
    .hea-content .lside .menu a:hover {
        text-decoration: underline;
    }
    .hea-content .lside .menu a.active
    {
        background: #000;
        padding: 10px;
    }
    .hea-content .rside .toggleBtn {
        display: none;
    }
}