footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    padding: 5em 20px 0 20px;
    border-top: 1px solid var(--txt-alt-color);
}

footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .feed {
    margin-bottom: 5em;
}
footer .feed form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer form .row {
    display: flex;
    justify-content: center;
}

footer .inputBox{
    position: relative;
    margin: 10px;
    width: 140px;
}
footer .inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: var(--txt-def-color);
    font-size: var(--fz-small);
}
footer .inputBox label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: var(--fz-normal);
    color: var(--dark-button-color-aux);
    text-transform: uppercase;
    transition: .5s;
}
footer .inputBox input:valid ~ label,
footer .inputBox input:focus ~ label 
{
    color: var(--txt-def-color);
    padding: 0 10px;
    font-size: var(--fz-small);
    transform: translateX(10px) translateY(-7px);
    background: var(--back-color-def);
    border-left: 1px solid var(--dark-button-color-aux);
    border-right: 1px solid var(--dark-button-color-aux);
    border-radius: 5px;
    letter-spacing: 0.2em;
}
footer .btn {
    position: relative;
    width: 300px;
    margin: 10px;
    display: inline-flex;
}
footer form button {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: var(--txt-aux-color);
    border-radius: 10px;
    background-color: transparent;
    letter-spacing: 2.5px;
    cursor: pointer;
    z-index: 1;
}
footer form button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #111111, #17255d, #007ccc);
    background-size: 200%;
    background-position: 0 0;
    border-radius: 10px;
    transition: .5s ease;
    z-index: -1;
}
footer form button:hover::before{
    background-position: 100% 0;
    filter: blur(5px);
}
footer form button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #111111, #17255d, #007ccc);
    background-size: 200%;
    background-position: 0 0;
    border-radius: 10px;
    transition: .5s ease;
    z-index: -1;
}
footer form button:hover::after {
    background-position: 100% 0;
}

footer .right { margin-bottom: 2.5em;}