.animated {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
.animated .platform {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animated .platform .cubes {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    transform-style: preserve-3d; 
    animation: rotateCube 5s linear infinite;
}
@keyframes rotateCube {
    to{
        transform: rotateY(0deg);
    }
    from{
        transform: rotateY(360deg) scale(1.0) rotateX(40deg);
    }
}
#letters {
    font-size: 50px;
    text-align: center;
    font-family: var(--ff-hermit);
    color: var(--text-light-def);
}
.sides {
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-size: cover;
    border: 2px solid #122E16;
}




.ft-side-1 /*front*/ {
    transform:  translateZ(80px) scale(.5);
}
.bc-side-1 /*top*/ {
    transform: rotateX(90deg) translateZ(80px) scale(.5);
}
.rg-side-1 /*right*/ {
    transform: rotateY(90deg) translateZ(80px) scale(.5);
}
.lf-side-1 /*left*/ {
    transform: rotateY(-90deg) translateZ(80px) scale(.5);
}
.tp-side-1 /*bottom*/ {
    transform: rotateX(-90deg) translateZ(80px) scale(.5);
}
.bo-side-1 /*back*/ {
    transform:  rotateY(-180deg) translateZ(80px) scale(.5);
}

.ft-side-2 /*front*/ {
    transform:  translateZ(40px) scale(0.25);
}
.bc-side-2 /*top*/ {
    transform: rotateX(90deg) translateZ(40px) scale(0.25);
}
.rg-side-2 /*right*/ {
    transform: rotateY(90deg) translateZ(40px) scale(0.25);
}
.lf-side-2 /*left*/ {
    transform: rotateY(-90deg) translateZ(40px) scale(0.25);
}
.tp-side-2 /*bottom*/ {
    transform: rotateX(-90deg) translateZ(40px) scale(0.25);
}
.bo-side-2 /*back*/ {
    transform:  rotateY(-180deg) translateZ(40px) scale(0.25);
}