@media screen and (min-width: 766px) {
    /* format desktop divice */
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .hea {
        max-width: 692px;
        min-width: 692px;
        width: 100%;
    }
    header .hea .l-side {display: flex;}
    header .hea .l-side .brand {display: flex; margin-right: 20px;}
    header .hea .l-side label {cursor: pointer;}
    header .hea .l-side .nav label {margin-right: 10px}
    header .hea .l-side .nav label:nth-child(1) {display: none;}
    header .hea .r-side .menu {opacity: 0;}



    .app {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px
    }
    #root{
        max-width: 500px;
        min-width: 500px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* about */
    #about .greet {padding: 20px;font-size: var(--fz-larger); text-align: center;letter-spacing: 2px;font-family: var(--ff-hermit);}
    #about .less {display: flex;justify-content: space-between; margin-top: 60px;}
    #about .me{position: relative;width: 100px;height: 100px;}
    #about .circles {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about .circles img  {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    #about .circles .blur {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        backdrop-filter: blur(5px);
    }
    #about .circles .blur::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: url(../assets/imgs/me.jpg);
        background-size: 100% 100%;
    }
    #about .circle-1, #about .circle-2 {z-index: 998;}
    #about .circle-1 {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 5px solid var(--back-dark-blur); /* change js theme */
    }
    #about .circle-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 2.5px solid var(--back-dark-blur); /* change js theme */
    }




    /* IDs [ remove | enable | disable | ] */
    #remove, #disable { display: block; }
    #enable { display: block; }
    #active { text-decoration: underline; }

    /* BUTTONS */
    #button {
        width: 40px; height: 40px;
        display: flex; align-items: center; justify-content: center;
    }
}