@font-face {
    font-family: "Agave NF";
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/agave/Agave.otf')
}
@font-face {
    font-family: "Hermit NF";
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/hermit/Hurmit.otf');
}

:root {
    /*  */
    --fz-smaller: 10px;
    --fz-normal: 12px;
    --fz-larger: 22px;
    /* Dark Theme */
    --back-dark-theme-blur: rgba(32, 32, 35, .5);
    --back-dark-theme-def: #202023;
    --back-dark-theme-alt: #313134;

    --back-dark-button-def: #ffd18c;
    --back-dark-button-alt: #db8438;
    --back-dark-button-aux: #323235;

    --color-dark-button-def: #202023;
    --color-dark-button-alt: #202023;
    --color-dark-button-aux: #c1c1c1;

    --text-dark-color-def: #ffffff;


    /* Light Theme */
    --back-light-theme-blur: rgba(247, 240, 232. .1);
    --back-light-theme-def: #f3e7db;
    --back-light-theme-alt: #f7f0e8;

    --back-light-button-def: #8659d3;
    --back-light-button-alt: #7045bf;
    --back-light-button-aux: #ecf2f7;

    --color-light-button-def: #ffffff;
    --color-light-button-alt: #4c545e;
    --color-light-button-aux: #c1c1c1;

    --text-light-color-def: #000000;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

/*  */
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8d57d1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8d57d1; 
  }

header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 999;
}

footer {
    position: relative;
    width: 100%;
    padding: 0 auto;
    bottom: 0;
}

/* DEFAULTS [ IDs | LINKs ] */

.link { cursor: pointer; }
.link:hover { cursor: pointer; text-decoration: underline; }

.hea {width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; backdrop-filter: blur(5px);}
.hea .brand label { margin-left: 10px;}
.hea .brand label:nth-child(1){font-size: var(--fz-large);}
.hea .r-side {display: flex;}

#s-about {
    margin-bottom: 60px;
}
#s-about .section {
    text-transform: uppercase;
    text-decoration: overline;
    letter-spacing: 1.5px;
}
#s-about .s-link li {
    line-height: 30px;
}
#s-about .s-link li i {
    margin-right: 10px;
}
#s-about .s-link li span {
    line-height: 30px;
    font-family: var(--ff-hermit);
}




.foo { width: 100%; text-align: center; position: relative; bottom: 1rem; padding: 1.5rem;}



/* Animations */
@keyframes animeTheme-1 {
    to{
        transform: translateY(20px);
        opacity: 0;
    }from{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animeTheme-2 {
    to{
        transform: translateY(20px);
        opacity: 0;
    }from{
        transform: translateY(0px);
        opacity: 1;
    }
}

.app {
    padding-top: 80px;
}



/* FEEDBACK */
.feed{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

}
.feed .content {
    position: relative;
    max-width: 400px;
    min-width: 300px;
    margin-top: 5rem;
    border-radius: 12px;
    margin-bottom: 2.5rem;
    border: 1px solid var(--color-dark-button-aux);
    box-shadow: 0 0 .5rem var(--color-dark-button-aux);
}
.feed .wrapper {
    max-width: 400px;
    min-width: 300px;
    height: 200px;
    background-size: 100% 100%;
    object-fit: cover;
}
.feed .wrapper span{width: 100%; height: 60px; display: flex; align-items: center; position: relative;}
.feed .wrapper span::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: rgb(191, 191, 191, .1);
}
.feed .wrapper form {
    position: relative;
    width: 100%;
    height: 100%;
}
.feed .wrapper span h3{
    width: 100%;
    padding: 0 auto;
    text-align: center;
    margin-bottom: .5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: var(--fz-normal);
}
.feed > div {
    position: relative;
}
.feed input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    align-items: left;
}
.feed form input:nth-child(2) {
    margin-top: 0px;
    border-bottom: 1px solid var(--color-dark-button-aux);
    padding: 10px;
}
.feed form input[type = text] {
    width: 100%;
    height: 104px;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}



.feed form button {
    position: relative;
    width: 100%;
    height: 40px;
    bottom: 40px;
    border: none;
    background: rgb(191, 191, 191, .1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    z-index: 997;
}