/* HEA HASCLASS FROM (HEADER) */
.hea .content {
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.hea .content .l-side  {
    display: flex;
    align-items: center;
}
.hea .l-side .brand {
    margin-right: 40px;
}
.hea .l-side  .brand .logo {
    font-size: var(--fz-bigger);
    font-family: var(--ff-hermit);
}
.hea .l-side  .brand .link {
    cursor: pointer;
    font-family: var(--ff-hermit);
    color: var(--text-light-color-def);
}
.hea .l-side  .links .link{
    text-transform: capitalize;
    font-family: var(--ff-agave);
    color: var(--text-light-color-def);
    font-size: var(--fz-normal);
    margin: 0px 0px 10px 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.hea .l-side  .links .link:hover{text-decoration: underline;}
.hea .r-side {
    display: flex;
} 
.hea .r-side .theme, .hea .r-side .menu {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.theme {background: var(--back-light-icon-def); transition: background .3s;}
.hea .r-side .theme:hover{background: var(--back-light-icon-alt);}
.hea .r-side .theme i{color: var(--light-color-icon);}
.hea .r-side .menu {
    display: none;
    border: 1px solid #111;
}


/* APP [Pages (about / work / feedback)]*/
.about, .work {
    width: 100%;
    height: 100vh;
    animation: fadeOut 3s;
}
.about .less {
    display: flex;
    justify-content: space-between;
}
.about .greet{
    padding: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    letter-spacing: 1.4px;
    font-family: var(--ff-hermit);
    background: var(--back-light-alt);
}
.about .lessme {
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin: 50px 0 50px 0;
}
.about .lessme .name {
    font-size: 32px;
    font-family: var(--ff-hermit);
}
.about .less p {
    font-size: var(--fz-small);
}
.about .me {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border-radius: 12px;
}
.about .me .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .me .content img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.about .me .content .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backdrop-filter: blur(15px);
    background: var(--back-dark-blur);
}
.about .me .content .blur::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: url(../assets/imgs/me.jpg);
    background-size: 100% 100%;
}
.about .content .me .content .circle-1, 
.about .content .me .content .circle-2 {
    z-index: 998;
}
.about .content .me .content .circle-1 {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid var(--back-dark-blur); /* change js theme */
}
.about .content .me .content .circle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2.5px solid var(--back-dark-blur); /* change js theme */
}

/* more me */
.about .moreme {
    width: 100%;
}
.about .moreme .content {
    display: flex;
}
.about .moreme .f-card {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 12px;
    margin-top: 5rem;
    backdrop-filter: blur(10px);
    background: url('../assets/imgs/B1.jpg');
    background-size: 100% 100%;
    display: flex;
}
.about .moreme .f-card::before{
    background: var(--back-dark-blur);
    backdrop-filter: blur(15px);
}
.about .moreme .f-card .v-card {
    width: 260px;
    height: 498px;
    overflow: hidden;
    border-radius: 12px;
    margin: 3.5rem 0 0 3.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 25%;
}
.f-card .v-card .main {
    position: relative;
    background: url('../assets/imgs/about_alt.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    padding-bottom: 40px;
    color: #fff;
    transition: padding-bottom 0.4s;
}
.f-card .v-card .main::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.f-card .v-card .main p {
    position: relative;
    letter-spacing: 1px;
    font-size: var(--fz-normal);
    background: var();
}
.f-card .v-card .main p.name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: 1.5px;
}
.f-card .v-card .more {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--back-dark-blur);
    backdrop-filter: blur(15px);
    font-size: 1.2em;
    letter-spacing: 0.7px;
}
.f-card .v-card .more .s-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin: 24px;
}
.f-card .v-card .more .s-links a {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid;
    border-radius: 50%;
    font-size: var(--fz-normal);
    color: #fff;
}
.f-card .v-card .info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f-card .v-card .info div span {
    font-size: 1.2em;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: .7px;
}
.f-card .v-card .info div span.value {
    font-weight: bold;
}
.f-card .v-card .info button {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var();
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 25px 0px var();
    background: var(--back-light-icon-def);
    cursor: pointer;
}
.f-card .v-card .info button i#minus {
    display: none;
}
/* opned is class spacial from v-card */
.opened .more {
    height: 250px;
}

.f-card .text {
    max-width: 400px;
    padding: 30em 0 0 2.5em;
}
.f-card .text .paragraph {
    text-align: justify;
    font-weight: normal;
    font-family: var(--ff-agave);
    letter-spacing: 1.5px;
}


.work {
    display: none;
}


/* Animation Fade-out */
@keyframes fadeOut {
    to {
        opacity: 1;
        margin-top: 0px;
    }
    from {
        opacity: 0;
        margin-top: 100px;
    }
}