/* HEA HASCLASS FROM (HEADER) */
.hea .content {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.hea .content .l-side  {
    display: flex;
    align-items: center;
}
.hea .l-side .brand {
    margin-right: 40px;
}
.hea .l-side  .brand .logo {
    font-size: var(--fz-bigger);
    font-family: var(--ff-hermit);
}
.hea .l-side  .brand .link {
    cursor: pointer;
    font-family: var(--ff-hermit);
    color: var(--text-light-color-def);
}
.hea .l-side  .links #link-me {
    display: none;
}
.hea .l-side  .links .link{
    text-transform: capitalize;
    font-family: var(--ff-agave);
    color: var(--text-light-color-def);
    font-size: var(--fz-normal);
    margin: 0px 0px 10px 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.hea .l-side  .links .link:hover{text-decoration: underline;}
.hea .r-side {
    display: flex;
} 
.hea .r-side .theme, .hea .r-side .menu {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.theme {background: var(--back-light-icon-def); transition: background .3s;}
.hea .r-side .theme:hover{background: var(--back-light-icon-alt);}
.hea .r-side .theme i{color: var(--light-color-icon);}
.hea .r-side .menu {
    display: none;
    border: 1px solid #111;
    transition: display .5s ease-in-out;
}


/* APP [Pages (about / work / feedback)]*/
.about, .work {
    width: 100%;
    animation: fadeOut 3s;
}

/* Animation Fade-out */
@keyframes fadeOut {
    to {
        opacity: 1;
        margin-top: 0px;
    }
    from {
        opacity: 0;
        margin-top: 100px;
    }
}