section.about {width: 100%; display: flex; justify-content: center; flex-direction: column; box-sizing: border-box;}
section.about .container {width: 100%; display: flex; flex-direction: column;}
section.about .greet {text-align: center; border-radius: 12px; font-weight: normal; color: var(--txt-aux-color); background: var(--back-color-alt);}
section.about .less { display: flex; justify-content: space-between; margin-top: 2.5em;}
section.about .less .lessme p{font-size: var(--fz-small);}

section.about .less .pickme { width: 100px; height: 100px;}
section.about .less .pickme .glow-circle { position: relative; width: 100%; height: 100%; background: var(--back-color-alt); border-radius: 50%; display: flex; align-items: center; justify-content: center;}
section.about .less .pickme .glow-circle span {position: absolute; width: 100%; height: 100%; background: linear-gradient(45deg, #ffd700, #007ccc); border-radius: 50%;}
section.about .less .pickme .glow-circle span:nth-child(1) {filter: blur(10px);}
section.about .less .pickme .img {position: relative; width: 90px; height: 90px; overflow: hidden; border-radius: 50%; z-index: 1;}
section.about .moreme {margin-top: 2.5em;}
section.about .moreme, section.about .ilike, section.about .onweb {margin-bottom: 5em;}
section.about .moreme .item, section.about .ilike .item, section.about .onweb .item {font-size: var(--fz-large); text-decoration: overline; font-weight: bold;}
section.about .paragraph, section.about .socials { margin-top: 1.5em;}
section.about .paragraph label {display: none;}
section.about .socials li { display: flex; line-height: 40px;}
section.about .socials li span {margin-left: 5px; font-size: var(--fz-small); line-height: 40px;}
section.about .socials li a{display: flex; align-items: center;line-height: 40px;}
section.about .socials li span:nth-child(1){font-size: var(--fz-large);}

/* [Photos] */
@keyframes photoAnimate {0%{transform: rotate(0deg);}100% {transform: rotate(360deg);}}

/* mobile */
@media screen and (max-width: 692px) {
    
    section.about .container {padding: 20px;}
    section.about .greet {padding: 10px;}
    section.about .less .lessme h1 {font-size: var(--fz-normal); letter-spacing: 1.5px; font-weight: bold;}
    section.about .less .lessme .paragraph{ text-align: left;}
    section.about .less .pickme { width: 90px; height: 90px; margin-left: 10px}
    section.about .less .pickme .glow-circle::after { position: absolute; content: ''; width: 80px; height: 80px; background: var(--back-color-alt); border-radius: 50%;}
    section.about .less .pickme .img img {position: absolute; top: 15px; left: 40%; max-width: 80px; object-fit: cover; transform: translateX(-50%);}
    section.about .d-imgs {
        max-width: 320px;
        min-width: 320px;
    }
    section.about .d-img-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    section.about .box {
        position: relative; 
        width: 100%;
        height: 200px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #111;
    }
    .box::before,  .box::after {
        content: '';
        position: absolute;
        background: linear-gradient(315deg, #FFD700, #007CCC);
        filter: hue-rotate(calc((var(--i) - 120deg)));
        inset: -80px 50px;
        transition: .5s;
        animation: animatedProp 8s linear infinite;
    }
    .box::after {
        background: linear-gradient(315deg, #00CCFF, #D400D4);
        filter: hue-rotate(calc((var(--i) - 120deg)));
        animation-delay: -2s;
    }
    .box:hover::after, .box:hover::before {animation-play-state: paused; inset: -80px 80px;}
    @keyframes animatedProp {
        0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}
    }
    section.about .box i {
        position: absolute;
        inset: 3px;
        background: #111;
        z-index: 1;
    }
    section.about .box .content{
        position: absolute;
        width: 300px;
        height: 190px;
        inset: 5px;
        background: #111;
        border: 2px solid #222;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        overflow: hidden;
        z-index: 3;
    }
    section.about .d-img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        object-fit: cover;
        pointer-events: none;
        z-index: 3;
    }
    section.about .box:hover .content img {
        opacity: 0;
    }
    section.about .box .content h2 {
        position: relative;
        font-size: var(--fz-normal);
        color: var(--txt-aux-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1em;
        z-index: 2;
    }
}

/* desktop */
@media screen and (min-width: 766px) {
    
    section.about .container {padding: 30px;}
    section.about .greet {padding: 20px;}
    section.about .less .lessme h1 {font-size: var(--fz-large); letter-spacing: 3.5px; font-weight: bold;}
    section.about .less .pickme { width: 100px; height: 100px;}
    section.about .less .pickme .glow-circle::after { position: absolute; content: ''; width: 90px; height: 90px; background: var(--back-color-alt); border-radius: 50%;}
    section.about .less .pickme .img img {position: absolute; top: 15px; left: 50%; max-width: 80px; object-fit: cover; transform: translateX(-50%);}
    section.about .ilike .paragraph {margin-bottom: 20px;}
    section.about .d-imgs {
        max-width: 700px;
        min-width: 700px;
        width: 100%;
    }
    section.about .d-img-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    section.about .box {
        position: relative; 
        width: 150px;
        height: 100px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #111;
    }
    .box::before,  .box::after {
        content: '';
        position: absolute;
        background: linear-gradient(315deg, #FFD700, #007CCC);
        filter: hue-rotate(calc((var(--i) - 120deg)));
        inset: -80px 50px;
        transition: .5s;
        animation: animatedProp 8s linear infinite;
    }
    .box::after {
        background: linear-gradient(315deg, #00CCFF, #D400D4);
        filter: hue-rotate(calc((var(--i) - 120deg)));
        animation-delay: -2s;
    }
    .box:hover::after, .box:hover::before {animation-play-state: paused; inset: -80px 80px;}
    @keyframes animatedProp {
        0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}
    }
    section.about .box i {
        position: absolute;
        inset: 2px;
        background: #111;
        z-index: 1;
    }
    section.about .box .content{
        position: absolute;
        width: 140px;
        height: 90px;
        inset: 5px;
        background: #111;
        border: 2px solid #222;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        overflow: hidden;
        z-index: 3;
    }
    section.about .d-img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        object-fit: cover;
        pointer-events: none;
        z-index: 3;
    }
    section.about .box:hover .content img {
        opacity: 0;
    }
    section.about .box .content h2 {
        position: relative;
        font-size: var(--fz-normal);
        color: var(--txt-aux-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1em;
        z-index: 2;
    }
}