section.about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
section.about .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
section.about .greet {
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-weight: normal;
    background: #FFFFFF50;
}
section.about .less { display: flex; justify-content: space-between; margin-top: 2.5em;}
section.about .less .lessme h1{font-size: var(--fz-large); letter-spacing: 3.5px; font-weight: bold;}
section.about .less .lessme p{font-size: var(--fz-small);}

section.about .less .pickme {
    position: relative;
    display: flex;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: url('../../../assets/imgs/me.jpg') no-repeat;
    background-size: 100% 100%;
}
section.about .less .pickme::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}
section.about .pickme .circle {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: url('../../../assets/imgs/me.jpg') no-repeat;
    background-size: 100% 100%;
    border: 2.5px solid #111;
    z-index: 1;
}
section.about .moreme {
    margin-top: 2.5em;
}
section.about .moreme, 
section.about .ilike, 
section.about .onweb {
    margin-bottom: 5em;
}
section.about .moreme .item, 
section.about .ilike .item, 
section.about .onweb .item {
    font-size: var(--fz-large);
    text-decoration: overline;
    font-weight: bold;
}
section.about .paragraph,
section.about .socials {
    margin-top: 1.5em;
}
section.about .paragraph label { display: none;}
section.about .socials li {
    display: flex;
    line-height: 40px;
}
section.about .socials li span {
    margin-left: 5px;
    font-size: var(--fz-small);
    line-height: 40px;
}
section.about .socials li a{
    display: flex;
    align-items: center;
    line-height: 40px;
}
section.about .socials li span:nth-child(1){
    font-size: var(--fz-large);
}